<div class="student-index">
  <div class="index-title">
    <%= @team.name %>
    <% if current_user.has_role?(:instructor) %>
      <% if @team.is_complete? %>
        <%= link_to incomplete_team_path(@team),
            class: 'btn btn-large btn-warning pull-right',
            method: :post,
            data: {
              confirm: 'Are you certain you want to invalidate this team?',
              ok: 'Yes',
              cancel: 'No'
            },
            id: 'incomplete-team-button' do %>
              <i class="fa fa-minus"></i>
              Invalidate Team
            <% end %>
      <% else %>
        <%= link_to complete_team_path(@team),
            class: 'btn btn-large btn-success pull-right',
            method: :post,
            data: { confirm: 'Are you certain you want to complete this team?',
              ok: 'Yes',
              cancel: 'No'
            },
            id: 'complete-team-button' do %>
              <i class="fa fa-plus"></i>
              Complete Team
            <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="panel panel-default" data-user='<%= current_user.id %>'>
    <div class="panel-heading clearfix">
      <% if current_user.has_role?(:instructor) %>
        <%= link_to add_student_team_path(@team),
          class: 'btn btn-large btn-primary pull-right',
          data: { toggle: 'modal', target: '#modal-window', remote: true },
          id: 'add-user-team-button' do %>
            <i class="fa fa-user-plus"></i>
            Add Student
          <% end %>
      <% else %>
        <% unless @team.deadline_passed? %>
          <%= link_to leave_team_path(@team),
            class: 'btn btn-large btn-danger pull-right',
            method: :post,
            data: { confirm: 'Are you certain you want to leave this team?',
              ok: 'Yes',
              cancel: 'No'
            },
            id: 'leave-team-button' do %>
              <i class="fa fa-user-plus"></i>
              Leave Team
            <% end %>
          <% end %>
      <% end %>
      <div class="team-title">
        Students
      </div>
    </div>
    <div class="panel-body">
      <% if @team.students.any? %>
        <table class="student-list table table-striped table-hover">
          <thead>
            <th>Name</th>
            <th>Student Number</th>
            <th>Study Program</th>
            <th>Course Section</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @team.students.each do |student| %>
              <tr data-student="<%= student.id %>">
                <td><%= student.name %></td>
                <td><%= student.person_id %></td>
                <td><%= student.study_program %></td>
                <td><%= student.course_section %></td>
                <td class="table-action">
                  <% unless @team.deadline_passed? %>
                    <% if current_user.has_role?(:instructor) %>
                      <%= remove_student_team_button(@team, student) %>
                    <% elsif current_user.has_role?(:liaison, @team) &&
                        !student.has_role?(:liaison, @team) %>
                      <%= set_as_liaison_team_button(@team, student) %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <% if current_user.has_role?(:student) %>
    <div class="panel panel-default" data-user='<%= current_user.id %>'>
      <div class="panel-heading clearfix">
        <div class="team-title">
          Requests
        </div>
      </div>
      <div class="panel-body">
        <% if @requests.any? %>
          <table class="student-list table table-striped table-hover">
            <thead>
              <th>Name</th>
              <th>Student Number</th>
              <th>Study Program</th>
              <th>Course Section</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <% @requests.each do |request| %>
                <tr data-request="<%= request.id %>">
                  <td><%= request.name %></td>
                  <td><%= request.person_id %></td>
                  <td><%= request.study_program %></td>
                  <td><%= request.course_section %></td>
                  <td class="table-action">
                    <% unless @team.deadline_passed? %>
                      <% if current_user.has_role?(:liaison, @team) %>
                        <%= accept_request_team_button(@team, request) %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          No requests at this time!
        <% end %>
      </div>
    </div>
  <% end %>
</div>
