<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, required: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :person_id, 'Instructor/Student Number' %><br />
  <%= f.text_field :person_id, required: true %></div>

  <div><%= f.label :s_or_t, 'I\'m a' %><br />
    <%= f.radio_button :type, 'Student', :checked => true %>
    <%= label :type_student, 'Student' %>
    <%= f.radio_button :type, 'Instructor' %>
    <%= label :type_instructor, 'Instructor' %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
